<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Graphing Calculator</title>
</head>
<body>
    <div class="container">

<center>
    <form method="post" action="/calculator">
        <input type="text" name="x_input">
        <input type="text" name="y_input">
        <button class="action_Button" id="run_calc">Run</button>
    </form>
    <img src="{{plot_filename}}" alt="User plot">
</center>
    </div>
</body>
</html>